@model IPagedList<ScanMaster.EngMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<div class="container">
    <h2>Engine Matser Details</h2>

    <p>
        @Html.ActionLink("+Add New ", "Create", null, new { @class = "btn btn-success" })
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Barcode
                </th>
                <th>
                    ModelName
                </th>
                <th>
                    ModelCode
                </th>
                <th>
                    CreatedDateTime
                </th>
                <th>
                    UpdatedDateTime
                </th>
                
                <th>
                   
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelCode)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatesDateTime)
                    </td>
                  
                    <td>
                            <a href="@Url.Action("Edit", new { id = item.ID }) ">
                                <i class="glyphicon glyphicon-pencil"> </i>
                                <span class="sr-only">Edit</span>
                            </a>  
                    </td>
                        
                        <td>
                            <a href="@Url.Action("Delete", new { id = item.ID })">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span class="sr-only">Delete</span>
                            </a>

                        </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, i => Url.Action("Index", "EngMasters", new { i, search = Request.QueryString["Search"] }))
    </div>
</div>